body {
    background-color: cadetblue;
    font-family: 'Helvetica';
}

#list_section {
    text-align: center;
}

.mainItem {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

span {
    font-size: 20px;
    color: aqua;
}

li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

.message1 {
    visibility: hidden;
    background-color: burlywood;
}

.message2 {
    visibility: hidden;
    background-color: chartreuse;
}

.message3 {
    visibility: hidden;
    background-color: coral;
}
